.btn-btn-warning {
  background-color: #5c8d89;
  border-radius: 4px;
}
li:active {
  color: black;
}
h2 {
  font-size: 2em;
  padding: 5px;
  color: #000;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 30px;
}
li.active {
  background-color: #74b49b !important;
}
